:root {
    --purple: #7D578D;
    --light-purple: #B98DCD;
    --gray: #666666;
    --light-gray: #b5b5b5;
    --dark-gray: #494949;
    --green: #91BC70;
    --light-green: #C2EEA1;
    --dark-green: #738962;
    --yellow: #D4D47F;
    --light-yellow: #FFFEAC;
    --gray-yellow: #9B9A6E;
    --light-blue: #8BB3C8;
}



body {
    background: url("./images/background-linedpaper.png");
}

a {
    color: var(--purple);
    text-decoration: none;
}

a:hover { 
    color: var(--purple);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.sticky-board {
    padding: 7rem;
}

.sticky-title {
    font-size: 4rem;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    background-color: var(--light-green);
    border-radius: 2px;
    transform: rotate(-0.02turn);
    z-index: -10;
}

.sticky-next {
    width: 15rem;
    height: 15rem;
    position: relative;
    padding: .5rem; 
    background-color: var(--light-yellow);
    z-index: 100;
    left: -40px;
}

.sticky-subtitle {
    width: 12rem;
    height: 12rem;
    position: relative;
    padding: .5rem; 
    background-color: var(--light-purple);
    transform: rotate(0.02turn);
    z-index: 1000;
    left: -28px;
    top: -30px;
}

.skills {
    padding: 0 10rem 3rem 10rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--purple);
}

.navbar-light .navbar-brand {
    color: var(--purple);
    font-weight: 600;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: var(--purple);
}


.navbar-light .navbar-nav .nav-link {
    color: var(--purple);
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--dark-green);
}

.card {
    height: 100%;
}