---
layout: default
---
<div class="row text-center justify-content-center">
    <div class="col col-md-8 py-4 bg-light border shadow-sm">
        <h1>Hi!</h1>
        <p>I like to make stuff.</p>
        <p>Check out my projects below.</p>
    </div>
</div>
<div class="row justify-content-center">
    <h2>Past Projects</h2>
</div>
<div class="row my-4">
    <div class="col col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="https://www.cise.ufl.edu/~lcastong/DREU/">Hampden Estate </a>
                </h4>
                <p class="card-text">a Renovation Project</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://github.com/alcastonguay/gratefultoday">Grateful Today</a>
                    </h4>
                    <p class="card-text">an android app</p>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://github.com/IntrospectiveSystems/xGraph">xGraph</a>
                    </h4>
                    <p class="card=text">at Introspective Systems</p>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://www.cise.ufl.edu/~lcastong/DREU/">DREU Internship</a>
                    </h4>
                    <p class="card=text">at University of Florida</p>
                </div>
            </div>
        </div>
    </div>
</div>