---
layout: default
---
<div class="text-center bg-light border shadow-sm w-75 mx-auto">
    <h1 class="my-3">Hi!</h1>
    <h2 class="my-3">I like to make cool media.</h2>
    <h2 class="my-3">Checkout some of my projects below.</h2>
</div>
<h3>Past Projects</h3>
<div class="row my-4">
    <div class="col-md-4">
        <h4>
            <a href="https://github.com/alcastonguay/gratefultoday">Grateful Today</a>
        </h4>
        <h5>an android app</h5>
    </div>
    <div class="col-md-4">
        <h4>
            <a href="https://github.com/IntrospectiveSystems/xGraph">xGraph</a>
        </h4>
        <h5>at Introspective Systems</h5>
    </div>
    <div class="col-md-4">
        <h4>
            <a href="https://www.cise.ufl.edu/~lcastong/DREU/">DREU Internship</a>
        </h4>
        <h5>at University of Florida</h5>
    </div>
</div>
</div>